#calculator-content {
  width: 310px;
  margin: auto;
  background-color: #e9ecef;
}

.cal-btn{
  height: 65px;
  width: 100%;
}

.cal-display{
  background: #20262E;
  color: antiquewhite;
  height: auto;
  min-height: 130px;
  max-height: auto;
  font-size: 15px;
}

div#sec5 {
  margin-bottom: 15px;
}

#sec1 > button:nth-child(4),
#sec2 > button:nth-child(4),
#sec3 > button:nth-child(4),
#sec4 > button:nth-child(4),
#sec5 > button:nth-child(4) {
  color: orange;
  font-weight: bolder;
  font-size: 16pt;
}